<launch>
    <arg name="map_name" default="map_test"/>

    <!-- 위고 메뉴얼과 동일 -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch"/>
    <!-- 3D SLAM lio-sam -->
    <include file="$(find lio_sam)/launch/run.launch">
        <arg name="map_save_path" value="$(find start)/maps/LOAM/$(arg map_name)/"/>
    </include>

    <!-- base_link to base_foot tf publish -->
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_broadcaster" args="0 0 0 0 0 0 /base_link /base_footprint 100"/>

    <!-- global_map to local_map tf publish -->
    <node pkg="start" type="local_map_tf_publisher" name="local_map_tf_publisher"/>

    <!-- 2D SLAM gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping_node" output="screen">
        <param name="map_frame" value="map"/>
        <param name="base_frame" value="base_link"/>
        <param name="delta" value="0.1"/>
        <param name="map_file_path" value="$(find start)/maps/gmapping/$(arg map_name)"/>
    </node>

    <!-- 发布 map 到 local_map 的坐标变换 -->
    <!-- map에서 local_map으로 좌표 변환하기 -->
    <!-- <node pkg="start" type="local_map_tf_publisher" name="local_map_tf_publisher_node" output="screen"/> -->

    <!-- 경로 계획 및 회피 알고리즘 시작 -->
    <include file="$(find navigation)/launch/move_base.launch">
        <arg name="odom_topic" value="/lio_sam/mapping/odom"/>
    </include>
    
    <!-- 로봇 개와의 통신 시작 -->
    <include file="$(find unitree_legged_real)/launch/real.launch"/>
    <!-- 로봇개와의 소통 ROS 인터페이스 -->
    <node pkg="unitree_legged_real" type="ros_control" name="dog_control_node" output="screen">
        <param name="is_build_map" value="true"/>
        <param name="patrol_points_file" value="$(find start)/maps/gmapping/$(arg map_name)_patrol_points.txt"/>
    </node>

</launch>
