<launch>

  <node pkg="unitree_legged_real" name="ros_control_helper" type="ros_control_helper" output="screen" >
    <param name="imu_link" type="str" value="imu_link" />
    <param name="base_link" type="str" value="base_link" />
    <param name="odom_link" type="str" value="odom" />

    <param name="publish_tf" type="bool" value="true" />
    <param name="verbose" type="bool" value="false" />
  </node>

  <node pkg="joy" name="joy_node" type="joy_node" >
    <param name="autorepeat_rate" type="double" value="100.0" />
  </node>

  <node pkg="unitree_joy_cmd" name="unitree_joy_cmd" type="unitree_joy_cmd" output="screen">
    <param name="roll_gain" type="double" value="0.8" />
    <param name="pitch_gain" type="double" value="0.5" />
    <param name="yaw_gain" type="double" value="0.3" />

    <param name="bodyheight_gain" type="double" value="0.2" />
  </node>

</launch>
